BODY { max-width : 400px }
DIV.TITLEPAGE { background-color : #DDDDEE }
H1.TITLE { text-align : center }
H2 { color : #000000; background-color : white }
DIV { margin-left : 5px; margin-right : 5px }
DIV.SECT1 { margin-left : 40px }
DIV.SECT2 { margin-left : 40px }
H1.SECT2 { margin-left : 0px }
H2.SECT2 { margin-left : 0px }
DIV.NAVHEADER { margin-left : 0px; margin-right : 0px }
DIV.NAVFOOTER { margin-left : 0px; margin-right : 0px }
DIV.MEDIAOBJECT { text-align : center }

DIV.TITLE { text-align : center; background-color : #DDDDEE }
DIV.TYPE { color : #009900; background-color : white }
DIV.INTERFACE { color : blue; background-color : white }
DIV.ROUTINE { color : black; background-color : white }
DIV.PRIVROUTINE { color : black; background-color : white }
DIV.USEDMODULES { color : blue; background-color : white }
A.ARGS { color : #990000; background-color : white }
A.ATTRIBUTES { color : #990000; background-color : white }
A.ROUTINE { color : blue; background-color : white }
A.PRIVROUTINE { color : #00FFFF; background-color : white }
A.INTERFACE { color : black; background-color : white }
A.TYPE { color : #EE0000; background-color : white }
A.MODULE { color : #EE0000; background-color : white }

A.TYPE { color : purple; background-color : white }
A.ROUTINE { color : blue; background-color : white }
A.ARGS { color : #7F6031; background-color : white }
A.ATTR { color : #990000; background-color : white }
A.KEYWORD { color : #008800; background-color : white }
BODY.FOODOC { max-width : none }
DIV.INDENT { margin-left : 15px; margin-right : 0px }
